@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;700&display=swap");

/* font */
$base-font: "Noto Sans KR", sans-serif;

/* color */
$white: #e6e6e6;
$lightPink: #ffc8c8;
$pink: #ff9999;
$grey: #919191;
$darkGrey: #444f5a;
$black: #3e4149;
